﻿<div class="jumbotron">
    <h1>Avalia App X SmartLab</h1>
    <hr />
    <div class="row">
        <form action="/launch" method="get">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" name="token" class="form-control" placeholder="Token">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Launch</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
